.container {
  @apply h-auto;
}

.carousel {
  /* @apply h-[80vh];
  @apply lg:h-[100vh]; */
  @apply h-[calc(100vh-5rem)];
  @apply lg:h-[100vh];
}

.imgContainer {
  @apply relative w-full overflow-hidden;
  /* @apply h-[80vh];
  @apply lg:h-[100vh]; */
  /* @apply h-[100vh]; */
  @apply h-full;
}

.imgCentered1 {
  @apply object-[37%_100%];
  /* @apply object-[33%_100%]; */
  @apply md:object-center;
}

.imgCentered2 {
  /* @apply object-[36%_75%]; */
  @apply object-[65%_75%];
  @apply md:object-center;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.imgZoomEffect {
  animation: zoomIn 6s ease-in-out forwards;
}

.imgZoomFinal {
  transform: scale(1.3); /* Mantén el zoom final */
}
