@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 251, 186, 0;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CodecProBold";
  src: url("../../assets/fonts/Codec-Pro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  @apply m-0 p-0 box-border;
  font-family: "PoppinsRegular", sans-serif;
}

h2 {
  @apply text-3xl mb-20 text-center;
}

section {
  /* @apply p-10; */
  @apply px-10 pt-28;
  @apply lg:py-28;
  @apply 2xl:py-28;
  @apply containerBase;
}

.containerBase {
  @apply md:px-10;
  @apply lg:px-20;
  @apply 2xl:px-96;
}
